@import "tailwindcss";

body {
  font-family: 'Sarabun', sans-serif;
  background-color: #f8fafc;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
